# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
myenv/
venv/
ENV/

# Django
*.log
db.sqlite3
/media
/staticfiles

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sensitive files
firebase-key.json
.env
logs/

# OS
.DS_Store
Thumbs.db

# Virtual environments
*.egg-info/
dist/
build/
